{# Route de la page actuelle #}
{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# Block css #}
    {% block css %}{% endblock %}
</head>
<body>
    {#Inclusion du menu#}
    {% include 'partials/_main_navbar.html.twig' %}

    {# Affihcage des messages flashes #}
    {% include 'partials/flashes.html.twig' %}

    {# Block body #}
    {% block body %}{% endblock %}

    {# Bootstrap #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

    {# Block JS #}
    {% block js %}{% endblock %}
</body>
</html>